.imges{
    background-image: url("../../assets/imgs/business-women-signature-document.jpg");
    background-repeat: no-repeat;
    height: calc(100vh-0px);
    width: 100%;
    background-position: center;
    background-size: cover;
}

.container {
    padding: 16px;
  }

.div {
    position:absolute;
    top: 50%;
    left: 50%;
    width:30em;
    height:18em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    border: 1px solid #ccc;
    background-color: #f3f3f3;
}



body
{
    margin: 0;
    padding: 0;
    background-color:#6abadeba;
    font-family: 'Arial';
}
.login{
        width: 382px;
        overflow: hidden;
        margin: auto;
        margin: 20 0 0 450px;
        padding: 80px;
        background: #ced5d4;
        border-radius: 15px ;

}
h2{
    text-align: center;
    color: #277582;
    padding: 20px;
}
label{
    color: #100d28;
    font-size: 17px;
}
#Uname{
  
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}
#Pass{
  
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;

}
#log{
  
    height: 30px;
    border: none;
    border-radius: 17px;
    padding-left: 7px;
    color: rgb(2, 2, 34);


}
span{
    color: white;
    font-size: 17px;
}
a{
    float: right;
    background-color: grey;
}